.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.public-DraftEditor-content {
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  min-height: 300px;
}