
.drive {
  .chonky-chonkyRoot {
    color: white !important;
    background-color: transparent !important;
    border: 0px solid black !important;
    width: 1000;
    height: 1000;
  }

  .chonky-baseButton {
    color: white;
  }

  .chonky-iconWithText {
    color: white !important;
  }

  .chonky-dropdownList {
    color: black !important;
    background-color: grey;
  }

  .chonky-navbarContainer {
    color: white !important;
  }

  svg {
    color: white !important;
  }

  .chonky-searchFieldInput {
    color: black !important;
    background-color: white;
  }

  .chonky-baseButton {
    color: white !important;
  }

  .chonky-separator {
    color: white !important;
  }
}
